{% load static %}
<html>
    <head>
       <title>blog world</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $('button').click(function(){
                    alert("Save")
                });
            });

        </script>
    </head>
    </head>
    <body>
        
        <div class="page-header">
           
            <a href="{% url 'blog:post_new'  %}" class="top-menu" ><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'blog:login'%}" class="top-menu " >Login</a>
            <h1><a href="{% url 'blog:post_list' %}">Blog </a>
                <a href="{% url 'country:person_changelist' %}">Country</a>
                {% if user.is_authenticated %}
                	
                	<a href="{% url 'blog:logout'%}">logout</a>
                {% else %}
                	<a href="{% url 'blog:signup'%}">	signup</a>

                {% endif %}
            </h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">


                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>

<footer>
    <div class= "navbar navbar-inverse navbar-static-bottom" role="navigation">
    <div class="navbar-text pull-left">
    </div>
    <div class= "navbar-text pull-right">
<!-- Add in your social media / github links here -->
        <a href="https://github.com/clarkdatalabs">
            <i class="fa fa-github-square fa-2x"></i></a>
    </div>
    <!--Below is the copyright information for the site. You can fill in your own here.-->
    <div class="page-header">
    &copy; Jakhar infotech, 2020
    </div>
     <div class="page-header">
        <a href="{% url 'blog:subscribe' %}">Subscribe</a>
        
    </div>
    </div>  
</footer>
</html>